.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;
  &.footer {
    border-top: var(--border--color);
    border-bottom: var(--border--color);
    margin-bottom: 30px;
  }
}
