@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.title {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.6;
  color: var(--color-white);
  &.one {
    font-size: var(--font-size-h1);
  }

  &.two {
    font-size: var(--font-size-h2);
    &.card {
      color: white;
    }
  }

  &.three {
    font-size: var(--font-size-h3);
    &.card {
      color: white;
    }
  }
}

.label {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  font-size: var(--font-size-label);
  &.nav {
    color: var(--color-white);
  }
}

.link {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.6;
  font-size: var(--font-size-link);
  color: var(--color-primary);
  &.button {
    font-size: var(--font-size-label);
    color: var(--color-white);
  }
}

.paragraph {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.6;
  font-size: var(--font-size-p);
  color: var(--color-white);
  &.name {
    font-family: "Poppins";
    color: var(--color-primary);
  }
  &.card {
    color: white;
  }
}
